body {
	font-family: 'Lato', sans-serif;
	color: #FFF;
}

.header-wrapper { background-color: rgba(0, 0, 0, 0.8); }

h1 {
	margin: 40px 0 40px;
	text-align: center;
}

.bg-construction { background-color: #000; }

.under-construction {
	font-size: 52px;
	font-weight: 100;
	text-align: center;
	padding: 25px 0;
}

.see-services {
	font-weight: bold;
	text-align: center;
	font-size: 36px;
	margin: 25px 0 40px;
}

.services li {
	font-size: 36px;
	font-weight: 100;
	line-height: 60px;
}

.services {
	margin-bottom: 40px;
}

.contacts {
	background-color: #FFF;
	color: #000;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	line-height: 40px;
	padding: 20px 0;
}

#copias-express-map {
	height: 400px;
	width: 100%;
	color: #000;
}

#copias-express-map img { max-width: none; }

.juelisjr {
	background-color: #000;
	text-align: center;
	padding: 8px 0;
}

.juelisjr p { margin: 0; }
.juelisjr a {
	color: #FFF;
	font-weight: bold;
	text-decoration: underline;
}
